.formu{
    text-align: center;
    font-weight: 5rem;
    font-size: 1.5rem;

    h2{
        font-size: 3rem;
        background-color: rgb(9, 170, 116);
    }
}

.fpe {
    h2{
        font-size: 3rem;
        text-align: center;
        font-family: cursive;
    
    }
}